$iPad: 'screen and (max-width : 768px)';
$iPadPro: 'screen and (min-width : 769px) and (max-width : 1024px) ';
$desktop: 'screen and (min-width : 1025px)';

.postings-posting {
    width: 100%;

    .hooper-list {
        position: relative;

        ul {
            display: flex;

            li {
                padding: 10px 1.5vw;

                img {
                    width: 30.3333vw;
                    height: 18.9583vw;
                    transition: 0.3s;
                    //     filter: saturate(40%) sepia(30%) hue-rotate(5deg);
                }

                img:hover {
                    filter: none;
                    transform: scale(1.01);
                    box-shadow: 0px 5px 10px 5px #5f2f1182;
                }
            }

        }
    }

    .hooper-list:hover {
        .hooper-prev {
            -webkit-transform: translate(10px, -50%);
            transform: translate(10px, -50%) !important;
            -webkit-transition: transform .5s;
            transition: transform .5s;
        }

        .hooper-next {
            -webkit-transform: translate(-30px, -50%);
            transform: translate(-30px, -50%) !important;
            -webkit-transition: transform .5s;
            transition: transform .5s;
        }
    }

    .hooper-navigation {
        .hooper-prev {
            left: 0;
            -webkit-transform: translate(-100px, -50%);
            transform: translate(-100px, -50%) !important;
        }

        .hooper-next {
            right: 0;
            -webkit-transform: translate(+100px, -50%);
            transform: translate(+100px, -50%) !important;
        }

        .hooper-next,
        .hooper-prev {
            background-color: white;
            opacity: 0.8;
            border: 0;
            border-radius: 30px;
            padding: .5em;
            position: absolute;
            top: 50%;
            display: flex;
            font-size: 2rem;
            justify-content: center;
            cursor: pointer;

            @media #{$iPad} {
                height: 5rem;
            }

            @media #{$iPadPro} {
                height: 6rem;
            }

            @media #{$desktop} {
                height: 8rem;
            }
        }
    }


    .hooper-sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

}