.detail {
    .body {
        background-color: #f2f2f2;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;

        .posting-box {
            height: 600px;
            display: flex;

            .img-box {
                width: 800px;
                border: 1px solid black;
            }

            .comment-box {
                width: 400px;
                border: 1px solid black;
            }
        }

    }
}