$phone: 'screen and (max-width : 430px)';
$iPad: 'screen and (min-width : 431px) and (max-width : 768px) ';
$iPadPro: 'screen and (min-width : 769px) and (max-width : 1024px) ';
$desktop: 'screen and (min-width : 1025px)';

.detail {
    padding: 40px 0;
    background-color: #f2f2f2;

    .body {
        display: flex;
        justify-content: center;
        align-items: center;

        .posting-box {
            margin: 0;
            padding: 0;

            @media #{$phone} {
                display: block;

                .img-box {
                    background-color: white;
                    width: 80vw;
                    height: 80vh;
                    border: 1px solid black;
                    margin: 0;
                    padding: 20px;
                }

                .comment-box {
                    background-color: white;
                    width: 80vw;
                    height: 80vh;
                    border: 1px solid black;
                    margin: 0;
                    padding: 20px;
                }
            }

            @media #{$iPad, $iPadPro} {
                display: block;

                .img-box {
                    background-color: white;
                    width: 650px;
                    height: 600px;
                    border: 1px solid black;
                    margin: 0;
                    padding: 20px;
                }

                .comment-box {
                    background-color: white;
                    width: 650px;
                    height: 650px;
                    border: 1px solid black;
                    margin: 0;
                    padding: 20px;
                }
            }

            @media #{$desktop} {
                display: flex;

                .img-box {
                    background-color: white;
                    width: 650px;
                    height: 700px;
                    border: 1px solid black;
                    margin: 0;
                    padding: 20px;
                }

                .comment-box {
                    background-color: white;
                    width: 350px;
                    height: 700px;
                    border: 1px solid black;
                    margin: 0;
                    padding: 20px;
                }
            }

            .writer {
                display: flex;
                align-items: center;
                padding-bottom: 10px;
                margin-bottom: 10px;

                .name-time-follow-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                }

                .followShow,
                .unfollowShow {
                    display: none;
                }

                .profile-img {
                    margin-right: 15px;

                    img {
                        vertical-align: middle;
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                    }
                }

                .name-time {
                    strong {
                        font-size: 1.2em;
                        margin-right: 10px;
                    }
                }

                .follow {
                    cursor: pointer;

                    span:first-child {
                        color: blue;
                        font-weight: 600;
                        font-size: 1.2em;
                    }

                    span:last-child {
                        color: red;
                        font-weight: 600;
                        font-size: 1.2em;
                    }
                }
            }

            .sns-tag-box {
                padding: 0;
                margin-bottom: 15px;

                .sns-btn {
                    .like {
                        .likeit {
                            display: none;
                        }
                    }

                    .scrap {
                        .scrapit {
                            display: none;
                        }
                    }
                }
            }

            .comments {
                max-height: none;

                /* width */
                ::-webkit-scrollbar {
                    width: 3px;
                }

                @media #{$phone} {
                    .show-comment {
                        height: 30vh;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }
                }

                @media #{$iPad, $iPadPro} {
                    .show-comment {
                        height: 350px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }
                }

                @media #{$desktop} {
                    .show-comment {
                        height: 390px;
                        overflow-y: scroll;
                        overflow-x: hidden;
                    }

                    .comment-info {
                        width: 72%;
                    }
                }
            }
        }
    }
}