$iPad: 'screen and (max-width : 768px)';
$iPadPro: 'screen and (min-width : 769px) and (max-width : 1024px) ';
$desktop: 'screen and (min-width : 1025px)';

#header {
    display: flex;
    top: 0px;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 100;

    @media #{$iPad, $iPadPro} {

        .hambuger {
            font-size: 3em;
            margin-left: 4vw;
            vertical-align: middle;
        }

        .home {
            margin: auto;

            .logo {
                width: 50px;
                vertical-align: middle;
                margin-right: 15px;
            }

            .title {
                font-size: 30px;
                font-weight: 600;
                vertical-align: middle;
            }
        }

        .search-ipad {
            margin-right: 4vw;
        }

        .menu {
            display: none;
        }
    }

    @media #{$desktop} {
        justify-content: space-between;

        .showSearch {
            display: none;
        }

        .hambuger {
            display: none;
        }

        .home {
            margin-left: 10vw;

            .logo {
                width: 4vw;
                vertical-align: middle;
                margin-right: 2vw;
            }

            .title {
                font-size: 2.3em;
                font-weight: 600;
                vertical-align: middle;
            }
        }

        .menu {
            margin-right: 10vw;

            .menu-icon {
                vertical-align: middle;
                margin-right: 2vw;
                font-size: 2.3em;
            }

            .profile-img {
                vertical-align: middle;
                width: 4vw;
            }
        }
    }

}