$iPad: 'screen and (max-width : 768px)';
$iPadPro: 'screen and (min-width : 769px) and (max-width : 1024px) ';
$desktop: 'screen and (min-width : 1025px)';

.post-info {
    display: flex;
    align-items: center;
    padding: 2vh 2vw;
    position: relative;
    margin: auto;

    .profile-img {
        margin-right: 2vw;

        img {
            vertical-align: middle;
            width: 40px;
            height: 40px;
            border-radius: 20px;
        }
    }

    .name-time {
        strong {
            font-size: 1.2em;
            margin-right: 10px;
        }
    }

    .else {
        position: absolute;
        right: 20px;
        cursor: pointer;

        span {
            font-size: 1.2em;
        }
    }
}

.post-imgs-box {
    display: flex;
    overflow: hidden;
    cursor: pointer;

    .hooper {
        height: unset;
    }

    .hooper-track {
        display: flex;

        li {
            @media #{$iPad} {
                width: 98vw;
            }

            @media #{$iPadPro} {
                width: 90vw;
            }

            @media #{$desktop} {
                width: 45vw;
            }
        }
    }

    .hooper-pagination {
        @media #{$iPad} {
            width: 98vw;
        }

        @media #{$iPadPro} {
            width: 90vw;
        }

        @media #{$desktop} {
            width: 45vw;
        }

        .hooper-indicators {
            display: flex;
            justify-content: center;

            .hooper-indicator {
                margin: 0 2px;
                width: 15px;
                height: 5px;
                border-radius: 5px;
                padding: 0;
                background-color: #aaa;
                cursor: pointer;
            }

            .hooper-indicator:hover,
            .hooper-indicator.is-active {
                background-color: #2d2d2d;
            }
        }
    }

    .hooper-sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    img {
        @media #{$iPad} {
            width: 98vw;
            height: 61vw;
        }

        @media #{$iPadPro} {
            width: 90vw;
            height: 56vw;
        }

        @media #{$desktop} {
            width: 45vw;
            height: 28vw;
        }
    }
}

.sns-btn {
    display: flex;
    align-items: center;
    padding: 0 20px 5px 20px;

    .like {
        font-size: 1.5em;
        margin-right: 10px;

        .likeToggle {
            display: none;
        }
    }

    .scrap {
        font-size: 1.5em;
        margin-right: 10px;

        .scrapToggle {
            display: none;
        }
    }
}

.text {
    padding: 10px 20px;
}

.comment-box {
    padding: 20px;

    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: white;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .comments {
        max-height: 270px;
        overflow-y: scroll;

        .comment {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            .writer-img img {
                width: 30px;
                height: 30px;
                border-radius: 20px;
            }

            .comment-info {
                margin-left: 20px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .writer {
                    margin-bottom: 5px;

                    span {
                        margin-left: 10px;
                        font-size: 12px;
                    }
                }

                .comment-delete {
                    margin-right: 10px;
                }
            }
        }
    }

    .write-comment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 15px 10px 0 10px;
        border-top: 1px solid rgba(00, 00, 00, 0.2);
    }

    .comment-form {
        width: 95%;

        textarea {
            height: 18px;
            border: 0;
            outline: 0;
            line-height: 18px;
            flex: 1;
            cursor: text;
            max-height: 72px;
            font-size: 1em;
            width: 100%;
        }
    }

    .comment-btn button {
        color: slateblue;
    }
}

.elseModalBackground,
.followBtn,
.myPosting,
.unfollowBtn {
    display: none !important;
}

.else-modal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;

    .modal-box {
        @media #{$iPad, $iPadPro} {
            width: 260px;
        }

        @media #{$desktop} {
            width: 400px;
        }

        .box-content {
            .first {
                border-top: none;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }

            .middle {
                background-color: transparent;
                border-bottom: 0;
                border-left: 0;
                border-right: 0;
            }

            .last {
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                color: red;
            }

            .else-btn {
                font-weight: 500;
                background-color: #ffffff;
                width: 100%;
                display: block;
                text-align: center;
                padding: 4px 8px;
                cursor: pointer;
                font-size: 16px;
                height: 48px;
                border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
            }
        }
    }
}